<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <button id="singlebutton" name="singlebutton" class="btn-lg center-block"><%= link_to 'Add Bookmark', new_bookmark_path %></button>
</div>
<br>
<br>
<br>
  <% @bookmarks.each do |bookmark| %>
        <div class="col-sm-7 col-md-5">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><%= link_to bookmark.title, bookmark.url, target: :_blank %></h3>
            </div>

            <div class="panel-body">
              <%= image_tag bookmark.image_bookmark %>

              <div class="col-md-12 center-block">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary"><%= link_to 'Show', bookmark %></button>
                <button id="singlebutton" name="singlebutton" class="btn btn-info"><%= link_to 'Edit', edit_bookmark_path(bookmark) %></button>
                <button id="singlebutton" name="singlebutton" class="btn btn-danger"><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></button>
              </div>
            </div>
          </div>
        </div>
  <% end %>




