<h1 class="text-center">New Bookmark</h1>

<%= form_for(@bookmark) do |f| %>
    <% if @bookmark.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

          <ul>
            <% @bookmark.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <label for="basic-url">Please enter the URL</label>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">https://example.com</span>
      <%= f.text_field :url, :size => 100 %>
    </div>

    <br>
    <div class="actions">
      <p>
        <%= f.submit :class => "btn btn-primary center-block" %>
      </p>

    </div>
<% end %>

<%= link_to 'My Bookmarks', bookmarks_path, :class => "btn btn-danger" %>